body {
    font-family: 'Open Sans', sans-serif;
  }

.custom-user-select {
    user-select: none;
}

/* Profile User */
.custom-profile-cover {
    height: 200px;
}

.custom-profile-user-img {
    width: 100px; 
    height: 100px;
    top: 143px; 
    left: 39px;
}

.custom-table::-webkit-scrollbar {
    background: transparent;
}

.custom-table::-webkit-scrollbar-track {
    background: var(--bs-table-striped-color);
}

.custom-table::-webkit-scrollbar-thumb{
    height: auto;

    background: #5D87FF;
    border-radius: 5px;
}